html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
}

input {
  color: grey;
  width: 100%;
  font-size: 2.4rem;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (min-width: 768px) {
  .card-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
  }
}

.card {
  background-color: black;
  padding: 1rem;
  border-radius: 1rem;
  align-content: center;
  overflow: hidden;
}

.card p {
  font-size: 1.8rem;
  font-family: 'Staatliches', cursive;
  color: white;
  line-height: 1.2;
  text-align: center;
}
.card img {
  width: 100%;
  height: 180px;
}